{% extends 'index.html' %}
{% load static %} 
{% block title %}Usuário{% endblock%}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style_usuarios.css' %}" />
{% endblock %}

{% block titlepage %}Usuários{% endblock %}
{% block container %}
<div class="container01">
  <div class="search-bar-container">
    <form
      method="get"
      action="{%  url 'DM_USUARIO' %}"
      class="search-bar-container"
    >
      <input
        type="text"
        name="Buscar"
        placeholder="Pesquisar..."
        class="search-input"
        value="{{ query }}"
      />
      <button type="submit" class="search-button">Buscar</button>
    </form>
  </div>
</div>
<div class="container02">
  <button type="button" class="mini_btn" onclick="openModal_ins( )">
    Cadastrar
  </button>
</div>
<div class="container03">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Empresa</th>
        <th>Status</th>
        <th>Usuário</th>
        <th>E-mail</th>
        <th>Data de Criação</th>
        <th>Administrativo</th>
      </tr>
    </thead>
    <tbody>
      {% for user in t_user %}
        <tr onclick="handleUserClick('{{ user.id }}')">
        <td>{{ user.id }}</td>
        <td>{{ user.empresa_id }}</td>
        <td style="align-items: center; text-align: center">
          {% if user.is_active %}
          <img
            src="/static/img/icon_correto2.png"
            alt="Ativo"
            width="20"
            height="20"
          />
          {% else %}
          <img
            src="/static/img/icon_x.png"
            alt="Ativo"
            width="20"
            height="20"
          />> {% endif %}
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_joined|date:"d/m/Y H:i" }}</td>
        <td style="align-items: center; text-align: center">
          {{ user.is_superuser }}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">Nenhum usuário cadastrado.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="container02">
<div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page=1{% if request.GET.Buscar %}&Buscar={{ request.GET.Buscar }}{% endif %}">&laquo; Primeiro</a>
      <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.Buscar %}&Buscar={{ request.GET.Buscar }}{% endif %}">Anterior</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <a class="active">{{ num }}</a>
      {% elif num >= page_obj.number|add:'-5' and num <= page_obj.number|add:'5' %}
        <a href="?page={{ num }}{% if request.GET.Buscar %}&Buscar={{ request.GET.Buscar }}{% endif %}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}{% if request.GET.Buscar %}&Buscar={{ request.GET.Buscar }}{% endif %}">Próxima</a>
      <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.Buscar %}&Buscar={{ request.GET.Buscar }}{% endif %}">Última &raquo;</a>
    {% endif %}
  </div>  
</div>
<div id="myModal_ins" class="modal">
  <div class="modal-content">
    <div class="tab-header">
      <span class="close" onclick="closeModal()">&times;</span>
      <h3>Cadastro de usuário</h3>
    </div>
    <form method="POST" action="{%  url 'usuario_ins' %}">
      {% csrf_token %}
      <input type="hidden" id="m_raiz" name="m_raiz" value="" />
      <div class="modal_field">
        <label for="m_codempresa" class="modal_label">Empresa</label>
        <select
          id="m_codempresa"
          name="m_codempresa"
          class="modal_txt"
          required
        >
          <option value="" disabled selected>Selecione</option>
          {% for codemp in t_empresa_id %}
          <option value="{{ codemp.cod_empresa }}">{{ codemp.cod_empresa }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="modal_field">
        <label for="m_grpacesso" class="modal_label">Nivel de Acesso</label>
        <select id="m_grpacesso" name="m_grpacesso" class="modal_txt" required>
          <option value="" disabled selected>Selecione</option>
          {% for grp in t_grpacesso %}
            <option value="{{ grp.Group_id }}">{{ grp.Group.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="modal_field">
        <label for="m_nome" class="modal_label">Nome de Usuário</label>
        <input
          type="text"
          id="m_nome"
          name="m_nome"
          class="modal_txt"
          placeholder=""
          required
        />
      </div>
      <div class="modal_field">
        <label for="m_firstname" class="modal_label">Primeiro Nome</label>
        <input
          type="text"
          id="m_firstname"
          name="m_firstname"
          class="modal_txt"
          placeholder=""
          required
        />
      </div>
      <div class="modal_field">
        <label for="m_lastname" class="modal_label">Sobre Nome</label>
        <input
          type="text"
          id="m_lastname"
          name="m_lastname"
          class="modal_txt"
          placeholder=""
          required
        />
      </div>
      <div class="modal_field">
        <label for="m_email" class="modal_label">E-mail</label>
        <input
          type="email"
          id="m_email"
          name="m_email"
          class="modal_txt"
          placeholder=""
          required
        />
      </div>
      <div class="modal_field">
        <label for="m_senha" class="modal_label">Senha</label>
        <input
          type="password"
          id="m_senha"
          name="m_senha"
          class="modal_txt"
          required
        />
      </div>
      <div class="modal_field">
        <label for="m_confsenha" class="modal_label">Confirmar Senha</label>
        <input
          type="password"
          id="m_confsenha"
          name="m_confsenha"
          class="modal_txt"
          required
        />
      </div>
      {% if messages %} {% for message in messages %}
        {% if message.extra_tags == 'MODAL_INS' %}
          <label class="msg_return">{{ message }}</label>
        {% endif %}
      {% endfor %} {% endif %}
      <button type="submit" class="btn_modal">Cadastrar</button>
    </form>
  </div>
</div>
<div id="myModal_upd" class="modal">
  <div class="modal-content">
    <div class="tab-header">
      <button class="tab-btn active" onclick="openTab(this, 'tab-User')">
        Usuário
      </button>
      <button class="tab-btn" onclick="openTab(this, 'tab-Grupoacesso')">
        Grupo de Acesso
      </button>
      <span class="close" onclick="closeModal()">&times;</span>
    </div>
      {% if messages %} {% for message in messages %}
      {% if message.extra_tags == 'MODAL_UPD' %}
        <label class="msg_return">{{ message }}</label>
      {% endif %}
    {% endfor %} {% endif %}
    <div id="tab-User" class="tab-content active-tab">
      <form method="POST" action="{%  url 'usuarios_upd' %}">
        {% csrf_token %}  
        <input type="hidden" id="m_user_id" name="m_user_id" value="" />
        <div class="modal_field">
            <label for="m_username" class="modal_label">User Nome:</label>
            <input
            type="text"
            id="m_username"
            name="m_username"
            class="modal_txt_edit"
        />
        </div> 
        <div class="modal_field">
            <label for="m_senhanew" class="modal_label">Nova Senha:</label>
            <input
            type="password"
            id="m_senhanew"
            name="m_senhanew"
            class="modal_txt_edit"
            />
        </div>
        <div class="modal_field">
          <label for="m_confsenhanew" class="modal_label">Confirmar Senha:</label>
          <input
          type="password"
          id="m_confsenhanew"
          name="m_confsenhanew"
          class="modal_txt_edit"
          />
        </div>
        <div class="modal_field">
          <label for="m_first_name" class="modal_label">Primeiro Nome:</label>
          <input
          type="text"
          id="m_first_name"
          name="m_first_name"
          class="modal_txt_edit"
          />
        </div>
        <div class="modal_field">
          <label for="m_last_name" class="modal_label">Sobrenome:</label>
          <input
          id="m_last_name"
          name="m_last_name"
          type="text"
          class="modal_txt_edit"
          readonly
          />
        </div>
        <div class="modal_field">
          <label for="m_email_upd" class="modal_label">E-mail:</label>
          <input
          id="m_email_upd"
          name="m_email_upd"
          type="email"
          class="modal_txt_edit"
          readonly
          />
        </div>
        <div class="modal_field">
          <label for="m_active" class="modal_label">Status active</label>
          <label class="switch">
            <input type="checkbox" name="m_active" id="m_active" disabled />
              <span class="slider round"></span>
          </label>
        </div>
        <div class="m_div_btn">
          <button
          id="save-btn"
          type="submit"
          class="btn_modal"
          style="display: none">
            Salvar
          </button>
          <button
          id="edit-btn"
          type="button"
          class="btn_modal"
          onclick="makeEditable()">
            Editar
          </button>
          <button
          id="cancel-btn"
          type="button"
          class="btn_modal"
          style="display: none"
          onclick="cancelChanges()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
    <div id="tab-Grupoacesso" class="tab-content">
      <form method="POST" action="{%  url 'userGroup_ins' %}">
        {% csrf_token %}
        <input type="hidden" id="m_grpUserid" name="m_grpUserid" value="" />
        <div class="modal_field">
          <label for="m_grupo" class="modal_label">Novo grupo:</label>
          <select name="m_grupo" id="m_grupo" class="modal_txt">
            {% for grp in t_grpacesso %}
              <option value="{{ grp.Group_id }}">{{ grp.Group.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="m_div_btn">
          <button
          id="add-btn"
          type="submit"
          class="btn_modal">
            Add
          </button>
        </div>
      </form>
      <div class="m_div_table">
        <table style="width: 100%;">
          <thead>
            <tr>
              <th>Grupo</th>
            </tr>
          </thead>
          <tbody> 
            <!-- vazio para o JS preencher -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %} 
<script>
const csrfToken = '{{ csrf_token }}';
const modalUpdId = '{{ request.session.modal_upd_id|default:"" }}';
</script>'
{{ t_user|json_script:"user-data" }}
<script src="{% static 'js/script_usuarios.js' %}"></script>
{% endblock %}
