{% extends 'index_Base.html' %}
{% load static %}

{% block title %}Demonstrativos contábeis{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/pages/Style_Dashboard.css' %}">
{% endblock %}

{% block titlepage %}Demonstrativos contábeis{% endblock %}

{% block container %}
<div id="iframeWrapper" class="iframe-container">
    <iframe src="{{ streamlit_iframe_url }}/?token={{ token }}" title="Demonstrativos contábeis"></iframe>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/Script_Dashboard.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}
