{% extends 'Index_Base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/Style_Dashboard.css' %}">
{% endblock %}

{% block titlepage %}Dashboard{% endblock %}

{% block container %}
<div id="iframeWrapper" class="iframe-container">
    <iframe src="https://10.0.1.19:8600/?token={{ token }}"></iframe>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/script_Dashboard.js' %}"></script>
{% endblock %}