{% extends 'index_Base.html' %}
{% load static %}

{% block title %}Balanço financeiro{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/Style_Dashboard.css' %}">
{% endblock %}

{% block titlepage %}Balanço financeiro{% endblock %}

{% block container %}
<div id="iframeWrapper" class="iframe-container">
    <iframe src="{{ streamlit_iframe_url }}/?token={{ token }}" title="Balanço financeiro"></iframe>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/Script_Dashboard.js' %}"></script>
{% endblock %}
