<div class="modal fade" id="modalUsuarioIns" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <form method="post" action="{% url 'Usuario_ins' %}">
        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">Cadastrar Usuário</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <!-- NAV TABS -->
          <ul class="nav nav-tabs mb-3" role="tablist">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-ins-dados">
                Dados do Usuário
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-ins-permissoes">
                Empresas & Grupos
              </button>
            </li>
          </ul>

          <div class="tab-content">

            <!-- TAB 1 -->
            <div class="tab-pane fade show active" id="tab-ins-dados">
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label">Usuário</label>
                  <input type="text" name="username" class="form-control" required>
                </div>

                <div class="col-md-6">
                  <label class="form-label">E-mail</label>
                  <input type="email" name="email" class="form-control" required>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Nome</label>
                  <input type="text" name="first_name" class="form-control">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Sobrenome</label>
                  <input type="text" name="last_name" class="form-control">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Senha</label>
                  <input type="password" name="password" class="form-control" required>
                </div>
              </div>
            </div>

            <!-- TAB 2 -->
            <div class="tab-pane fade" id="tab-ins-permissoes">
              <div class="mb-3">
                <label class="form-label">Empresa</label>
                <select name="ls_empresas" class="form-select" required>
                  <option value="">Selecione...</option>
                  {% for emp in t_empresas %}
                    <option value="{{ emp.id }}">{{ emp.nome }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label">Grupos</label>
                <select name="ls_grupos" class="form-select" multiple size="6">
                  {% for grp in t_AuthGroup %}
                    <option value="{{ grp.id }}">{{ grp.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Salvar</button>
        </div>

      </form>
    </div>
  </div>
</div>
