<div class="modal fade" id="modalUsuarioIns" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <form method="POST" action="{% url 'usuario_ins' %}">
        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">Cadastrar Usuário</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          {% for message in messages %}
            {% if message.extra_tags == 'MODAL_INS' %}
              <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
          {% endfor %}

          <div class="row g-3">

            <div class="col-md-6">
              <label class="form-label">Usuário</label>
              <input name="username" class="form-control" required>
            </div>

            <div class="col-md-6">
              <label class="form-label">E-mail</label>
              <input type="email" name="email" class="form-control" required>
            </div>

            <div class="col-md-6">
              <label class="form-label">Senha</label>
              <input type="password" name="password" class="form-control" required>
            </div>

            <div class="col-md-6">
              <label class="form-label">Confirmar Senha</label>
              <input type="password" name="password2" class="form-control" required>
            </div>

            <div class="col-md-6">
              <label class="form-label">Primeiro Nome</label>
              <input name="first_name" class="form-control">
            </div>

            <div class="col-md-6">
              <label class="form-label">Sobrenome</label>
              <input name="last_name" class="form-control">
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-success">
            Salvar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
